<br />
<br />
<br />
<br />
<div>

    <h2>Your shipment order has been received. </h2>
    <br />

    <h2>Your package tracking ID has been sent to your mail shortly. </h2>

    <br />
    <br />
    <br />
    <br />
</div>

