@model BearcatExpress.Models.ShippingAddress

@{
    ViewData["Title"] = "Create";
}

<h3>Create Shipment</h3>

<form asp-action="Create">
    <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
    <div class="col-md-5 form-group">
       
        <div class="row">
            <h4> From Address </h4>
            <label asp-for="senderName" class="control-label"></label>
            <input asp-for="senderName" class="form-control">
            <span asp-validation-for="senderName" class="text-danger" />
        </div>
        <div class="row">
            <label asp-for="senderCountry" class="control-label"></label>
            <input asp-for="senderCountry" class="form-control">
            <span asp-validation-for="senderCountry" class="text-danger" />
            </div>

        <div class="row">

            <label asp-for="senderState" class="control-label"></label>
            <input asp-for="senderState" class="form-control">
            <span asp-validation-for="senderState" class="text-danger" />
            </div>

        <div class="row">
            <label asp-for="senderCity" class="control-label"></label>
            <input asp-for="senderCity" class="form-control">
            <span asp-validation-for="senderCity" class="text-danger" />
            </div>

        <div class="row">
            <label asp-for="senderStreet" class="control-label"></label>
            <input asp-for="senderStreet" class="form-control">
            <span asp-validation-for="senderStreet" class="text-danger" />
            </div>

        <div class="row">
            <label asp-for="senderHouseNum" class="control-label"></label>
            <input asp-for="senderHouseNum" class="form-control">
            <span asp-validation-for="senderHouseNum" class="text-danger" />
            </div>

        <div class="row">
            <label asp-for="senderPhoneNum" class="control-label"></label>
            <input asp-for="senderPhoneNum" class="form-control">
            <span asp-validation-for="senderPhoneNum" class="text-danger" />
            </div>
        </div>
    <div class="col-sm-2"></div>
    <div class="col-md-5 form-group">
       
        <div class="row">
            <h4>To Address</h4>
            <label asp-for="receiverName" class="control-label"></label>
            <input asp-for="receiverName" class="form-control">
            <span asp-validation-for="receiverName" class="text-danger" />
        </div>
        <div class="row">
            <label asp-for="receiverCountry" class="control-label"></label>
            <input asp-for="receiverCountry" class="form-control">
            <span asp-validation-for="receiverCountry" class="text-danger" />
        </div>
        <div class="row">
            <label asp-for="receiverState" class="control-label"></label>
            <input asp-for="receiverState" class="form-control">
            <span asp-validation-for="receiverState" class="text-danger" />
        </div>
        <div class="row">

            <label asp-for="receiverCity" class="control-label"></label>
            <input asp-for="receiverCity" class="form-control">
            <span asp-validation-for="receiverCity" class="text-danger" />
        </div>

        <div class="row">
            <label asp-for="receiverStreet">Street</label>
            <input asp-for="receiverStreet" class="form-control">
            <span asp-validation-for="receiverStreet" class="text-danger" />

        </div>
        <div class="row">
            <label asp-for="receiverHouseNum"></label>
            <input asp-for="receiverHouseNum" class="form-control">
            <span asp-validation-for="receiverHouseNum" class="text-danger" />
        </div>

        <div class="row">
            <label asp-for="receiverPhoneNum"></label>
            <input asp-for="receiverPhoneNum" class="form-control">
            <span asp-validation-for="receiverPhoneNum" class="text-danger" />

        </div><br/>

        <div class="row">
            <input type="submit" value="Continue" class="btn btn-success">
        </div>
    </div>
    <div>
        <a asp-action="Index" class="btn btn-primary">Back to List</a>
    </div>
    <br/>
</form>



@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
