
﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        @*<link rel="stylesheet" href="~/css/site.css" />*@
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sre-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

</head>
<body>
  

    <div class="container body-content">
        <h1 style="text-align: center">About Us</h1>
       
        <p style="font-size: large">
            Bearcat Express is a newly established courier service firm with a vision to become leading
            courier service <br> in the industry by providing our customers with professional, prompt &
            courteous services at an industry <br> competitive rate. Our management team is comprised of
            industry profession with over 10 years <br> experience in the courier business.No matter what you
            are sending, we are committed to your satisfaction <br> through reliable, point to point, pick up and
            delivery of your important materials. Bearcat courier services <br> is your complete delivery
            solution-- providing a competitive advantage to your customers through dedicated <br>
            personnel, incomparable quality and cutting-edge technology.

        </p>
        <h4>Shipments delivered on time with no hassle.</h4>

    </div>

    <div style="padding-top:5%;">
        <hr />
        <div class="row" style="padding-left:30px;">
            <div class="col-sm-2">
                <p>Email:<a href="mailto:s525078@mail.nwmissouri.edu?Subject=Feedback" target="_blank"><img src="~/images/Message Squared-48.png"></a></p>
            </div>
            <div class="col-sm-2 pull-right">
                Follow Us:
                <a href="https://www.facebook.com/ashish.pandey91" target="_blank"><img src="~/images/Facebook-48.png"></a>
                <a href="https://twitter.com/Ashish_Pandey91" target="_blank"><img src="~/images/Twitter-48.png"></a>
            </div>
        </div>
        <div class="row">
            <p style="text-align:center">&copy; 2016 - BearcatExpress</p>
        </div>
    </div>


    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

   
</body>
</html>
