﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        @*<link rel="stylesheet" href="~/css/site.css" />*@
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sre-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

</head>
<body>


    <div class="container body-content">
        <h1 style="text-align: center">FAQs</h1>


        <ul>
            <li><h4> What cities do you make deliveries in? </h4></li>
            <p>With offices in Romulus, Ohio, Toledo and Flint, we are well-positioned to make deliveries in many cities. </p>


            <li><h4> What types of delivery services do you offer?</h4></li>

            <p>
                We specialized in legal and medical deliveries. Our couriers have been property trained to delivery sensitive legal documents and medical

                equipment and supplies. In addition we offer warehousing logistics solutions in Flint, Grand

                Rapid and Romulus, Michigan as well as Toledo, Ohio.
            </p>

            <li>
                <h4>
                    How can I schedule a delivery?
                </h4>
            </li>
            <p>
                There are many ways to schedule a delivery. If you have

                recurring needs, you can creates an account with us. You can also place delivery orders by credit

                card.
                </p>

                @* Do you accept Credit card orders? Yes, we do. You can easily place a credit card order if you’d

                like to a schedule a delivery.

                 How do you calculate delivery rates? Delivery rates are determined by a combination of a

                number of factors. We take into account the type of vehicle necessary for the delivery and the

                personnel needed to make the delivery. You can request a rate sheet or estimate the cost of

                your delivery on our website.*@

</ul>
        <div class="row">
            <h4>Shipments delivered on time with no hassle.</h4>
        </div>

    </div>

    <div style="padding-top:5%;">
        <hr />
        <div class="row" style="padding-left:30px;">
            <div class="col-sm-2">
                <p>Email:<a href="mailto:s525078@mail.nwmissouri.edu?Subject=Feedback" target="_blank"><img src="~/images/Message Squared-48.png"></a></p>
                <a asp-controller="Home" asp-action="FAQs"><p>FAQs</p></a>
            </div>
            <div class="col-sm-2 pull-right">
                Follow Us:
                <a href="https://www.facebook.com/ashish.pandey91" target="_blank"><img src="~/images/Facebook-48.png"></a>
                <a href="https://twitter.com/Ashish_Pandey91" target="_blank"><img src="~/images/Twitter-48.png"></a>
            </div>
        </div>
        <div class="row">
            <p style="text-align:center">&copy; 2016 - BearcatExpress</p>
        </div>
    </div>


    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>


</body>
</html>
