<style>
    .progress {
        height: 30px;
    }
</style>
<div class="row">
    <div class="col-md-4">
        <h3> Track Order </h3>
    </div>
    <div class="col-md-4">

    </div>

</div>

<form class="form-group">
    <label for="track">Enter Tracking Number</label>
    <div class="row">
        <div class="col-md-6">
            <input type="text" class="form-control" id="track">
        </div>
        <div class="col-md-1">

        </div>
    </div>
    <div class="row">

    </div>
    <br />
    <div class="row">
        <div class="col-md-5">

        </div>
        <div class="col-md-7">
            <a asp-controller="Home" asp-action="TrackOrderResult" class="btn btn-primary"> Track </a>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

</form>
